[build]
  command = "npm ci && npm run build"
  publish = "dist"
 
[[headers]]
  for = "/assets/*"
  [headers.values]
    Content-Type = "text/javascript; charset=utf-8"
 
[[headers]]
  for = "*.js"
  [headers.values]
    Content-Type = "text/javascript; charset=utf-8"
 
[[headers]]
  for = "*.css"
  [headers.values]
    Content-Type = "text/css; charset=utf-8"
